*, *::before, *::after {
 box-sizing: border-box;
 font-family: 'Courier New', Courier, monospace;
}

:root {
    --hue-neutral: 200;
    --hue-wrong:0;
    --hue-right: 150;
}

body {
    --hue: var(--hue-neutral);
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100vw;
 height: 100vh;
 background-color: blue;
 overflow: hidden;
}

body.right {
    --hue: var(--hue-right)
}

body.wrong {
    --hue: var(--hue-wrong)
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: azure;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 6px;
    margin: 15px 0;
}

.btn {
 --hue: var(--hue-neutral)
 border: 1px solid hs1(var(--hue), 100%, 30%);
background-color: hs1(var(--hue), 100%, 50%);
border-radius: 4px;
padding: 6px 10px;
color: antiquewhite;
outline: none;
}

.btn:hover {
    border-color: black;
}